:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --white-dark-theme: #ffffff;
  --title-color: #212121;
  --subtitle-color: #757575;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address,
.contacts {
  font-style: normal;
}

/*============= HEADER =============*/

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-blue {
  color: #2196f3;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.active {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-contacts {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--subtitle-color);
}

/*============= Filters =============*/
.menu {
  display: flex;
}

.filters-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.filters-list-link:hover,
.filters-list-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*============= Projects =============*/
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.projects-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

/*============= Footer =============*/
.footer {
  background-color: #2f303a;
}
.logo-white {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--white-dark-theme);
}

.address-place {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-dark-theme);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
